<div>
  <img src={{character.image}} height=100>
  <br>
  {{ character.name }}
  <div *ngIf="isHot"> HOT </div>
  <p>
  Number of Roles: {{ character.numberOfRoles }}
  <p>
  <label>Description: </label>
  {{ (character.description.length > 150)? (character.description | slice:0:150) + '...':(character.description) }}
  </p>
  <button
    mat-flat-button
    title="characterDesc"
    (click)="openCharacterDesc()"
  > 
    more 
  </button>
  <button 
    mat-flat-button
    color="warn"
    title="deleteCharacter"
    (click)="openDeleteConfirm()"
  >
    X
  </button>
</div>
