<div>
  Add a new character
  <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
    <label>Name:</label>
    <input 
      type="text" 
      name="name" 
      [(ngModel)]="model.name" 
      #name="ngModel" 
      required 
    />
    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
      <div *ngIf="name.errors.required">Character name is required</div>
    </div>
    <br>
    <label>Description:</label>
    <input 
      type="text" 
      name="description" 
      [(ngModel)]="model.description" 
      #description="ngModel" 
      required 
    />
    <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
      <div *ngIf="description.errors.required">Character description is required</div>
    </div>
    <br>
    <label>Image-url:</label>
    <input 
      type="url" 
      name="image" 
      [(ngModel)]="model.image-url" 
      #image="ngModel" 
      required 
    />
    <div *ngIf="f.submitted && image.invalid" class="invalid-feedback">
      <div *ngIf="image.errors.required">Character image is required</div>
    </div>
    <br>
    <br>
    <button 
      mat-flat-button
      color="warn" 
      type="submit">Save</button>
  </form>
</div>
